[Unit]
Description=Daily StreamForge GeoIP database update check

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=2h

[Install]
WantedBy=timers.target
